services:
  postgres: # Database
    image: postgres:latest
    hostname: postgres
    container_name: postgres
    environment:
      POSTGRES_USER: rinha
      PGUSER: rinha
      POSTGRES_PASSWORD: rinha
      POSTGRES_DB: rinha
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./db/postgresql.conf:/docker-entrypoint-initdb.d/postgresql.conf
    command: postgres -c config_file=/docker-entrypoint-initdb.d/postgresql.conf
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s
    ports:
      - "5432:5432"
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: '1500MB'

#  pgadmin:
#    image: dpage/pgadmin4
#    environment:
#      PGADMIN_DEFAULT_EMAIL: "adm@adm.com.br"
#      PGADMIN_DEFAULT_PASSWORD: "adm"
#    ports:
#      - "16543:80"
#    depends_on:
#      - postgres

  api01: &api
    image: thalessantanna/customer:latest
    hostname: api01
    container_name: api01
    environment:
      - VIRTUAL_THREADS_ENABLED=true
      - SERVER_HTTP_CONN_TIMEOUT=500
      - SERVER_SCHEDULING_THREAD_POOL_SIZE=5
      - PORT=80
      - DB_POOL_INITIAL_SIZE=10
      - DB_POOL_MAX_SIZE=10
      - DB_POOL_MAX_LIFETIME=2000000
      - DB_HOST=postgres
      - DB_DATABASE=rinha
      - DB_USER=rinha
      - DB_PASSWORD=rinha
    expose:
      - "80"
    depends_on:
      - postgres
    deploy:
      resources:
        limits:
          cpus: "0.35"
          memory: 500MB

  api02:
    <<: *api
    hostname: api02
    container_name: api02
    environment:
      - VIRTUAL_THREADS_ENABLED=true
      - SERVER_HTTP_CONN_TIMEOUT=500
      - SERVER_SCHEDULING_THREAD_POOL_SIZE=5
      - PORT=80
      - DB_POOL_INITIAL_SIZE=10
      - DB_POOL_MAX_SIZE=10
      - DB_POOL_MAX_LIFETIME=2000000
      - DB_HOST=postgres
      - DB_DATABASE=rinha
      - DB_USER=rinha
      - DB_PASSWORD=rinha
    expose:
      - "80"

  nginx:
    image: nginx:latest
    hostname: nginx
    container_name: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api01
      - api02
    ports:
      - "9999:9999"
    deploy:
      resources:
        limits:
          cpus: "0.30"
          memory: 500MB

networks:
  default:
    driver: bridge
    name: rinha
